@page "/ticket"

@using TicketManagementProject.Shared.DTOs

<PageTitle>Home</PageTitle>

<h2 class="text-center">Tickets Management</h2>

<MudDataGrid @ref="dataGrid" T="TicketDto" ServerData="ServerReload" Filterable="false" Breakpoint="Breakpoint.Sm">
    <ToolBarContent>
        <MudButton Class="me-2"
                   @onclick="CreateNewTicket"
                   StartIcon="@Icons.Material.Filled.PersonAddAlt1"
                   Variant="Variant.Filled"
                   Color="Color.Primary">
            <span class="d-none d-sm-inline">Nouveau Ticket</span>
        </MudButton>
        <MudSpacer />
        <MudTextField T="string"
                      ValueChanged="@(s => OnSearch(s))"
                      Placeholder="Search"
                      Adornment="Adornment.Start"
                      AdornmentIcon="@Icons.Material.Filled.Search"
                      IconSize="Size.Medium"
                      Class="mt-0">
        </MudTextField>
    </ToolBarContent>

    <Columns>
        <PropertyColumn Property="x => x.Objet" Title="Objet" />
        <PropertyColumn Property="x => x.Auteur" Title="Auteur" />
        <PropertyColumn Property="x => x.Date" Format="dd MMMM yyyy" Title="Date" />
        <PropertyColumn Property="x => x.Categorie" />
        <TemplateColumn Title="Statut" SortBy="@(x => x.Statut)">
            <CellTemplate Context="context">
                <div style="display: flex; align-items: center; height: 100%;">
                    <MudChip T="string"
                             Color="@context.Item.StatutEnum.GetColor()"
                             Variant="Variant.Filled"
                             Size="Size.Small"
                             Class="ma-0">
                        @context.Item.StatutEnum
                    </MudChip>
                </div>
            </CellTemplate>
        </TemplateColumn>
        <TemplateColumn Title="Comms" SortBy="@(x => x.Commentaires.Count)">
            <CellTemplate Context="context">
                <div class="d-flex align-center justify-center" style="height: 100%;">
                    @if (context.Item.Commentaires != null && context.Item.Commentaires.Any())
                    {
                        <MudBadge Content="@context.Item.Commentaires.Count"
                                  Color="Color.Info"
                                  Overlap="true"
                                  Bordered="true"
                                  Size="Size.Small">
                            <MudIcon Icon="@Icons.Material.Filled.ChatBubbleOutline"
                                     Color="Color.Default"
                                     Size="Size.Small" />
                        </MudBadge>
                    }
                    else
                    {
                        <MudIcon Icon="@Icons.Material.Filled.ChatBubbleOutline"
                                 Style="opacity: 0.2;"
                                 Size="Size.Small" />
                    }
                </div>
            </CellTemplate>
        </TemplateColumn>


        <TemplateColumn CellClass="d-flex justify-end"
                        >
            <CellTemplate>
                 <div class="d-flex">
                <MudButton Class="me-2"
                           Size="@Size.Small"
                           Variant="Variant.Filled"
                           StartIcon="@Icons.Material.Filled.Visibility"
                           Color="@Color.Info"
                           OnClick="@(() => ViewTicket(context))">
                        <span class="d-none d-sm-inline">Consuler</span>
                </MudButton>
                <MudButton Class="me-2"
                           Size="@Size.Small"
                           Variant="Variant.Filled"
                           StartIcon="@Icons.Material.Filled.Edit"
                           Color="@Color.Warning"
                           OnClick="@(() => UpdateTicket(context))">
                        <span class="d-none d-sm-inline">Modifier</span>
                </MudButton>
                <MudButton Size="@Size.Small"
                           Variant="Variant.Filled"
                           StartIcon="@Icons.Material.Filled.Delete"
                           Color="@Color.Error"
                           OnClick="@(() => RemoveTicket(context))">
                        <span class="d-none d-sm-inline">Supprimer</span>
                </MudButton>
                </div>
            </CellTemplate>
        </TemplateColumn>
    </Columns>

    <PagerContent>
        <MudDataGridPager T="TicketDto" />
    </PagerContent>
</MudDataGrid>
