<MudDialog>
    <TitleContent>
        <MudText Typo="Typo.h6">
            <MudIcon Icon="@Icons.Material.Filled.Assignment" Class="mr-3 mb-n1" />
            Consultation Ticket #@model.Id?.Substring(0, 5)...
        </MudText>
    </TitleContent>
    <DialogContent>
        <MudGrid>
            <MudItem xs="12">
                <MudField Label="Objet de l'intervention" Variant="Variant.Outlined" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Topic">
                    @model.Objet
                </MudField>
            </MudItem>

            <MudItem xs="6">
                <MudField Label="Auteur" Variant="Variant.Outlined" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Person">
                    @model.Auteur
                </MudField>
            </MudItem>

            <MudItem xs="6">
                <MudField Label="Date de création" Variant="Variant.Outlined" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.CalendarToday">
                    @model.Date.ToShortDateString()
                </MudField>
            </MudItem>

            <MudItem xs="6">
                <MudText Typo="Typo.caption" Class="mud-text-secondary">Catégorie</MudText>
                <div class="d-flex align-center mt-1">
                    <MudIcon Icon="@Icons.Material.Filled.Category" Class="mr-2" Color="Color.Default" />
                    <MudText Typo="Typo.body1">@model.CategorieEnum.ToString().Replace("_", " ")</MudText>
                </div>
            </MudItem>

            <MudItem xs="6">
                <MudText Typo="Typo.caption" Class="mud-text-secondary">Statut Actuel</MudText>
                <div class="mt-1">
                    <MudChip T="string" Color="@GetStatutColor(model.StatutEnum)" Variant="Variant.Filled" Size="Size.Small">
                        @model.StatutEnum
                    </MudChip>
                </div>
            </MudItem>
        </MudGrid>
    </DialogContent>
    <DialogActions>
        <MudButton Variant="Variant.Filled" Color="Color.Default" OnClick="Close" Class="px-10">Fermer</MudButton>
    </DialogActions>
</MudDialog>